@import 'tailwindcss';

:root {
  --primary: #AF0026;
  --secondary: #F6F6F6;
  --tertiary: #fdf7f2;

  --background: #ffffff;
  --foreground: #0a0a0a;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);

  --font-geistSans: var(--font-geist-sans), var(--font-poppins), system-ui, sans-serif;
  --font-poppins: var(--font-poppins), sans-serif;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
}


.wrapper {
  @apply sm:px-12 px-4 py-8 sm:py-12 max-w-[1350px] w-full h-full mx-auto relative;
}

.heading1 {
  @apply text-gray-800 text-4xl md:text-7xl font-semibold ;
}

.heading2 {
  @apply text-2xl sm:text-[28px] font-semibold leading-[35px];
}

.heading3 {
  @apply text-base font-medium leading-[22px] text-gray-600;
}
